body{
    background-color: #FFFAB9 !important;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}


.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }

.title-text{
    color: #FF6188;
    font-size: 64px;
    top: 14%;
    position: absolute;
    text-align: center;
}

.form-container{
    position: absolute;
    top: 30%;
    width: 50%;

}

.block{
    margin-bottom: 20px;
}

.form-title{
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

}