<!DOCTYPE html>
<html>
    <head>
        <title>Книги</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = "title-text">
        <div class="press-start-2p-regular">Щоденник читача</div>
        </div>
        <button class = "button" onclick="window.location.href='http://127.0.0.1:5000/add';"><div class="press-start-2p-regular">Додати книгу</div></button>

        <a class = "logout" href = "{{ url_for('logout') }}">Вийти</a> 

        <div class = "books">
            {% for book in books %}

        <div class = "block">
            <div class = "picture"></div>
            <div class = "title"> {{book.title}}</div>
            <div class = "author">{{book.author}}</div>
            <a class = "trash-bin-link" href = "{{ url_for('delete_book', book_id=book.id) }}"><img class = "trash-bin" src="{{ url_for('static' , filename='trash_bin.png') }}"></a>
            <a class = "edit-link" href = "{{ url_for('edit_book', book_id=book.id) }}"><img class = "trash-bin" src="{{ url_for('static' , filename='edit_icon.png') }}"></a>
            <div class = "description">{{book.description}}</div>
            <div class = "stars-block">
            {% for i in range(book.stars) %}
               <img class = "star" src="{{ url_for('static' , filename='filled_star.png') }}"> 
            {% endfor %}
            {% for i in range(5 - book.stars) %}
            <img class = "star" src="{{ url_for('static' , filename='unfilled_star.png') }}"> 
            {% endfor %}
            </div>
        </div>
        {% endfor %}
        </div>

    </body>
</html>