<!DOCTYPE html>
<html>
    <header>
        <title>Реєстрація</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </header>
    <body>
        <div class = "title-text">
            <div class="press-start-2p-regular">Щоденник читача</div>
            </div>
        <div class="form-container">
            <!-- Відображення flash-повідомлень -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        
            <div class = "form-title">Вхід у акаунт</div>
            <form method="post" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <div class = "block">
                    <label for="username"><div class = "press-start-2p-regular">Логін:</div></label>
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class = "block">
                    <label for="password"><div class = "press-start-2p-regular">Пароль:</div></label>
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-danger"><div class = "press-start-2p-regular">Увійти</div></button>
            </form>
            <br>
            <a class = "press-start-2p-regular" href = "{{ url_for('register')}}">Ще нема акаунту? Зареєструватися</a>
        </div>
    </body>
</html></html>
